<!-- <div class="body"> -->




    <div class="hero-image">
        <div class="hero-text">
            <h1 style="color: beige; size:40px">Welcome to Planage</h1>
            <h2 class="feature-desc" style="color: beige;">Planage's boards, lists, and planners enable you to organize and prioritize your projects in a fun, flexible, and rewarding way</h2>
            <a href="#features" style="scroll-behavior: smooth; color: beige;"><button id="getstarted">Get Started</button></a>
        </div>
        <!-- <img src="https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Hero image"> -->
        
    </div>
    
    <div class="body">
    
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~MAIN FEATURES~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`-->
    <section id="features">
    
            <div>
                <h2 class="head-discription-1">Main Features</h2>
                <mat-divider class="divider"></mat-divider>
                <p class="h2text">Planage's boards, lists, and planners enable you to organize and prioritize your projects in a fun, flexible, and rewarding way.</p>
                <mat-divider class="divider"></mat-divider>
            </div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    
    
            <div id="feature-card-div">
                <mat-card class="feature-card">
                <img class="feature-icon" mat-card-image src="../../assets/icons/calendar1.png" alt="Scheduling">
                <h3>Planner</h3>
                <mat-card-content>
                <p class="feature-desc">Find the view that works for you. Keep up to date with where everything stands and plan for the future with an easily digestible overview.</p>
                </mat-card-content>
                </mat-card>
    
    
    
                <mat-card class="feature-card">
                    <img class="feature-icon" src="../../assets/icons/team.png" alt="Team">
                    <h3>Agile</h3>
                    <mat-card-content>
                    <p class="feature-desc">Manage Teams and the track the progress of the teams based on the individual activity and monitor the performance with ease.</p>
                    </mat-card-content>
                </mat-card>
    
    
                <mat-card class="feature-card">
                    <img class="feature-icon" mat-card-image src="../../assets/icons/bargraph1.png" alt="BarGraph">
                    <h3>Scheduler</h3>
                    <mat-card-content>
                    <p class="feature-desc">Get the detailed reports and the projects based on the Deadlines and the progress tracking. Get realtime progress track to every important thing</p>
                    </mat-card-content>
                </mat-card>
    
    
                <mat-card class="feature-card">
                    <img class="feature-icon" mat-card-image src="../../assets/icons/planning.png" alt="Process">
                    <h3>Process</h3>
                    <mat-card-content>
                    <p class="feature-desc">Manage the flow of your project plan and maintain the process flow with easy visual aid.</p>
                    </mat-card-content>
                </mat-card>
            </div>
    </section>
    
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    
    <!-- <section class="sections"> -->
    
    <!-- Parallax1 -->
    <section class="product">
    <div class="pimg1" >
        <div class="ptext">
            <span>
              Product
            </span>
        </div>
    </div>
    
    <section class="sections">
        <div class="product-div">
            <div>
            <!-- <mat-card class="section-card"> -->
                    <img class="giphy" src="../../assets/gif/burndown.gif" alt="">
            <!-- </mat-card> -->
            </div>
            <div class="desc-login">
                <h3>Process</h3>
                <p class="feature-desc">Plan the project work based on the process flow by defining the flow of the tasks and linking the dependent tasks. Creating the process flow helps in maintaing the efficient delivery and meeting deadlines in efficient way.</p>
            </div>
        </div>
    </section>
    </section>
    
    <!-- Paralax2 -->
    <section class="product">
    <div class="pimg2">
        <div class="ptext">
            <span>
              Agile
            </span>
        </div>
    </div>
    
    <section class="sections">
        <div class="product-div">
            <div class="desc-login">
                <h3>Scheduler</h3>
                <p class="feature-desc">Scheduler helps you prioritize your tasks, plan it sequencially create notifier to get update about upcomming scheduled meetings and activities. This will help you increase your productivity by managing and isolating the tasks in time bound and efficient manner.</p>
            </div>
            <div>
                <!-- <mat-card class="section-card"> -->
                    <img class="giphy" src="../../assets/gif/process.gif" alt="">
                <!-- </mat-card> -->
            </div>
        </div>
    </section>
    </section>
    
    <!-- Paralax3 -->
    <section class="product">
    <div class="pimg3">
        <div class="ptext">
            <span>
              Process
            </span>
        </div>
    </div>
    
    <section class="sections">
        <div class="product-div">
            <div>
            <!-- <mat-card class="section-card"> -->
                <img class="giphy" src="../../assets/gif/kanban.gif" alt="">
            <!-- </mat-card> -->
            </div>
            <div class="desc-login">
            <h4>Agile</h4>
            <p class="feature-desc">Devide the tasks into time boxed fashion to deliver specific features for a release. Iterative approach is taken and working software build is delivered after each iteration. Each build is incremental in terms of new features.</p>
            </div>
        </div>
    </section>
    </section>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~Feedback~~~~~~~~~~~~~~~~~~~~ -->
    
    <!-- <section class="feedback">
    
    
    </section> -->
    <!-- <divider class="divider"></divider> -->
    <!-- ~~~~~~~~~~~~~~~~~~~~FOOTER~~~~~~~~~~~~~~~~~~~ -->
    
    </div>
    
    <section>
            <footer class="botbar" style="display: block;">            
                <div style="display: flex; flex-direction: row; justify-content:center;">
                    <div class="contact details">
                        <span style="display: flex; flex-direction: row;align-items: center;">
                            <img class="foot-icon" src="../../assets/icons/email-round.svg" alt="email">
                            <p style="margin-left: 1rem;">chitadesarthak@gmail.com</p>
                        </span>
                        <span style="display: flex; flex-direction: row;align-items: center;">
                            <img class="foot-icon" src="../../assets/icons/call-round.svg" alt="contact">
                            <p style="margin-left: 1rem;">+91-9423876557</p>
                        </span>
                    </div>
                    <div>
                        
                        <!-- <h3>Boring Stuff</h3> -->
                        <!-- <p>Web Developer, building portfolio with amazing websites and webapps. curious about designing Beautiful UI</p> -->
                    </div>

                </div>
                
                <!-- <div class="foot3"><a href="planage@gmail.com"><img style="height: 50px" src=""></a><p class="feature-desc">Planage@gmail.com <br></p>
                    <a href="123-456-789"><img style="height: 50px" src=""></a><p class="feature-desc">123-456-789</p>
                </div> -->
                <hr width="80%; justify-content: center">
                <h2 style="width: 100%; text-align: center;">Follow Us</h2>
                <div class="follow_us_icons">
                    <img class="foot-icon" src="../../assets/icons/fb-sqr.svg" alt="facebook">
                    <img class="foot-icon" src="../../assets/icons/twitter-sqr.svg" alt="twitter">
                    <img class="foot-icon" src="../../assets/icons/linkedin-sqr.svg" alt="linkedin">
                    <img class="foot-icon" src="../../assets/icons/insta-sqr.svg" alt="instagram">
                </div>
                <p class="feature-desc"><br>Planage India Private Ltd.<br>All rights reserved</p>
            </footer>
    </section>